*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    background-color: #1E1E1E;
}
.navbar{
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #252526;
    color: rgb(255, 255, 255);
    z-index: 999;
}
.logo{
    font-size: 32 px;
    align-items: center;
    justify-items: center;
    width: 30px;
    height: 30px;
}
.home{
    justify-items: auto;
    align-items: auto;
}
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.Profile{
    width: auto;
    height: auto;
}
a.btn btn-primary{
    color: aliceblue;
}
a{
    text-decoration: none;
}
ul{
    position: relative;
    display: flex;
    padding: 0;
    width: auto;
}
li{
    list-style: none;
}
ul.nav-links{
    align-items: center;
    justify-items: center;
    width: 90px;
}
ul.nav-links div{
    width: inherit;
}
.menu li:hover{
    background-color: #302f2f;
    width: 101% ;
    height: 101% ;
    border-radius: 10%;
    border-width: 100px;
    border-style: none;
    transition: 0.3s ease;
}
.menu li{
    padding: 5px 14 px;
}
.Profile{
    position: relative;
}
.dropdown{
    background-color: #302f2f;
    padding: 1em 0;
    position: fixed;
    display: none;
    border-radius: 10%;
    top: 35px;
}
.dropdown li + li{
    margin-top: 10px;
}
.dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li a{
    color: aliceblue;
}
.dropdown li:hover{
    background-color: #363636;
}
.Profile:hover .dropdown{
    display: block;
}








