<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% block css %}
    {% endblock css %}

    {% block title %}
    {% endblock title %}
</head>
<body style="background-color: #1E1E1E;">
    <div style="display: flex;">
        <div>
            <!-- Side Nav -->
            {% block sidenav %}
            {% include 'nav.html' %}
            {% endblock sidenav %}
        </div>
        <div>
            <!-- Content -->
            {% block content %}
            {% endblock content %}
        </div>
        <div>
            <!-- Footer -->
            {% block footer %}
            {% include 'footer.html' %}
            {% endblock footer %}
        </div>
    
    </div>

    {% block js %}
    {% endblock js %}
</body>
</html>