<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            background-color:rgb(255, 106, 243);
        }
    </style>
    <title>Sign Up</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <h1>Sign Up</h1>
        
        <label for="Username">Username</label>
        <input type="text" placeholder="Username" name="username" id="user">
        
        <label for="Email">Email</label>
        <input type="text" placeholder="Email or Phone" name="email" id="email">
        
        <label for="password1">Password</label>
        <input type="text" placeholder="Password" name="password1" id="password1">
        
        <label for="password2">Password</label>
        <input type="text" placeholder="Confirm Password" name="password2" id="password2">
        <button type="submit">Signup</button>

        <a href="{% url 'login' %}">I already have an account</a>
    </form>
</body>
</html>